<h1>Position: Sticky Demo</h1>
<p>
  For reference, this demo grew from the following article on CSS-Tricks: <a
    href="https://css-tricks.com/position-sticky-2/">https://css-tricks.com/position-sticky-2/.</a>
</p>

<h1>Vertically Scrolling</h1>
<section class="v-scroll">
  <dl *ngFor="let item of dataItems">
    <dt>{{item.title}}</dt>
    <dd *ngFor="let time of item.times">
      <button>
        {{time.time}} / {{time.temp}}°F
      </button>
    </dd>
  </dl>
</section>

<h1>Horizontally Scrolling</h1>
<section class="h-scroll">
  <dl *ngFor="let item of dataItems">
    <dt>{{item.title}}</dt>
    <dd *ngFor="let time of item.times">
      <button>
        {{time.time}} / {{time.temp}}°F
      </button>
    </dd>
  </dl>
</section>

<h1>Unstyled</h1>
<div class="wrapper">
  <section class="unstyled">
    <dl *ngFor="let item of dataItems">
      <dt>{{item.title}}</dt>
      <dd *ngFor="let time of item.times">
        <button>
          {{time.time}} / {{time.temp}}°F
        </button>
      </dd>
    </dl>
  </section>
</div>
